<%- include('includes/header') %>
<%- include('includes/nav') %>

<section class="container">
  <h1>Agenda</h1>
  <p class="subtitle">Seus contatos</p>

  <%- include('includes/messages') %>

  <div class="content">
    <a href="/contact" class="create-btn overlay" title="Criar contato">+</a>
    <table class="list-display">
      <tbody>
        <% contacts.forEach(contact => { %>
        <tr class="contact overlay">
          <td>
            <p><%= contact.name %></p>
          </td>
          <td>
            <p><%= contact.lastname %></p>
          </td>
          <td>
            <p><%= contact.tel %></p>
          </td>
          <td>
            <p><%= contact.email %></p>
          </td>
          <td>
            <a href="/contact/edit/<%= contact._id %>" class="contact-action">Editar</a>
          </td>
          <td>
            <a href="/contact/delete/<%= contact._id %>" class="contact-action ca-delete">Deletar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<%- include('includes/footer') %>