<%- include('includes/header') %>
<%- include('includes/nav') %>

<section class="container">
  <h1>Agenda</h1>
  <p class="subtitle">Seus contatos</p>

  <%- include('includes/messages') %>

  <div class="content">
    <div class="list-display">
      <% contacts.forEach(contact => { %>
      <div class="contact overlay">
        <p><%= contact.name %></p>
        <p><%= contact.lastname %></p>
        <p><%= contact.tel %></p>
        <p><%= contact.email %></p>
        <a href="/contact/edit/<%= contact._id %>" class="contact-action">Editar</a>
        <a href="/contact/delete/<%= contact._id %>" class="contact-action">Deletar</a>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<%- include('includes/footer') %>