<%- include('includes/header') %>
<%- include('includes/nav') %>

<section class="container">
  <h1>Faça seu login</h1>

  <%- include('includes/messages') %>

  <div class="content">
    <form action="/login/login" method="POST" class="login-form form overlay">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="email">Seu email</label>
      <input type="email" name="email" class="underlay" id="email">
      <small class="input-err-msg hidden" id="email-err">Email inválido!</small>
      <label for="password">Sua senha</label>
      <input type="password" name="password" class="underlay" id="password">
      <small class="input-err-msg hidden" id="password-err">A senha deve conter entre 8 e 20 caracteres!</small>
      <button type="submit" class="submit overlay">Entrar</button>
    </form>
  </div>
  </div>
</section>

<%- include('includes/footer') %>